@charset "utf-8";
/* mobile */
/* z-index (.modal : 10) (.nav-wrap : 11) */

.create_game {
  padding: 30px;
  .content_wrap {
    .title {
      font-weight: 700;
    }
    form {
      margin-top: 50px;
      & > div {
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
        label {
          color: #aaa;
          width: 25px;
          height: 25px;
        }
        input,
        textarea {
          flex-grow: 1;
          font-size: 16px;
          border: none;
          border-bottom: 1px solid #aaa;
        }
        input:focus {
          outline: none;
          border-bottom: 1px solid #6269f5;
        }
      }
      .title {
        height: 35px;
        input {
          font-size: 18px;
          font-weight: 700;
        }
      }
      .schedule {
        label {
          background: url('../assets/schedule.png') no-repeat center/95%;
        }
      }
      .versus {
        label {
          background: url('../assets/versus.png') no-repeat center/95%;
        }
        button {
          text-transform: none;
          background-color: transparent;
          border: 1px solid #aaa;
          color: #000;
          cursor: pointer;
        }
        .on {
          background-color: #6269f5;
          color: #fff;
        }
      }
      .people {
        label {
          background: url('../assets/people.png') no-repeat center/95%;
        }
        input {
          flex-grow: 0;
          width: 40px;
          text-align: end;
        }
      }
      .info {
        label {
          background: url('../assets/info-text.png') no-repeat center/95%;
        }
        textarea {
          border: 0;
        }
      }
      .location {
        label {
          background: url('../assets/location.png') no-repeat center/95%;
        }
      }
    }
  }
  .btn_create {
    margin-top: 50px;
    width: 100%;
    height: 40px;
    cursor: pointer;
  }
}

.game_detail {
  .content_wrap {
    .content {
      & > div {
        padding: 30px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        & > h1 {
          font-weight: 600;
          font-size: 18px;
        }
      }
      .title {
        margin-top: 10px;
        h1 {
          font-weight: 600;
          font-size: 22px;
        }
        .location {
          margin-top: 10px;
          font-size: small;
          .copy_location {
            color: #727f88;
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .schedule {
          margin-top: 15px;
          font-size: 16px;
        }
      }
      .game_type {
        .types {
          margin-top: 30px;
          li {
            width: 48%;
            display: inline-flex;
            align-items: center;
            padding: 10px 0;
            img {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
          }
        }
      }
      .game_info,
      .manner,
      .map {
        & > div:nth-of-type(1) {
          margin-top: 30px;
        }
      }
      .map {
        .kakaomap {
          & > div:nth-of-type(1) {
            height: 250px;
          }
        }
        .location {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 15px 15px 12px 15px;
          background-color: #f2f2f2;
          span {
            line-height: 24px;
            text-align: center;
          }
          a {
            font-size: 14px;
            border: 1px solid;
            border-radius: 30px;
            width: 70px;
            text-align: center;
            padding: 4px 0;
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  .cta_wrap {
    position: sticky;
    height: 70px;
    z-index: 10;
    border-top: 1px solid #000;
    bottom: 0;
    background-color: blue;
    button {
    }
  }
  // .btn_join {
  //   position: sticky;
  //   bottom: 40px;
  //   z-index: 10;
  //   margin-top: 50px;
  //   width: 100%;
  //   height: 40px;
  //   cursor: pointer;
  // }
}

.game_list {
  position: relative;
  padding: 30px;
  min-height: calc(100vh - 120px);
  .introduce {
    height: 150px;
  }
  .content_wrap {
    h1 {
      font-size: 18px;
      font-weight: 700;
      padding-left: 10px;
      img {
        width: 16px;
        height: 16px;
        margin-left: 2px;
      }
    }
    p {
      color: #686868;
      margin-top: 10px;
      padding-left: 10px;
    }
    .filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 10px;
      color: #686868;
      label {
        font-size: 14px;
      }
    }
    .list {
      margin-top: -20px;
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        li {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 10px;
          padding: 15px;
          border: 1px solid #f6f7f7;
          background-color: #f6f7f7;
          border-radius: 10px;
          & > div {
            line-height: 16px;
            font-size: 14px;
          }
          .tag {
            font-size: 12px;
            font-weight: 700;
            span {
              padding: 3px 5px;
            }
            .versus {
              margin-left: 7px;
              background-color: #fff;
              border: 1px solid #fff;
              border-radius: 4px;
            }
            .recruiting {
              border: 1px solid #dde8f8;
              border-radius: 4px;
              background-color: #dde8f8;
              color: #0066ff;
            }
            .done {
              border: 1px solid #ffe0e0;
              border-radius: 4px;
              background-color: #ffe0e0;
              color: red;
            }
            .closed {
              border: 1px solid #aaa;
              border-radius: 4px;
              background-color: #aaa;
              color: #fff;
            }
          }
          .title {
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
          }
          .game_info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .schedule {
              font-weight: 700;
              img {
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
            .location {
              img {
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
          .members {
            img {
              vertical-align: middle;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
